.partieButt{
    height: 70.1%;
    width: 500px;
    top: 8;
    right:50;
    background-color: #f3f3f3b6;
    border: #741f1fb6;
    border-width: 3px 3px;
    border-style: solid;
    padding-left: 10px;
    }

.canva {
    margin-right: 200px;
    padding-right: 20px;
    }
  
  h1{
        text-align: center;
        color: #e40a0ab6;
        font-weight: bold;

    }

    h2{
      text-align: center;
      color: #1e6d23
      font-weight: bold;

  }

    .leFormulaire{
        position: relative;
        display: inline-block;
        width: 100%;
        font-size: 20px;              
    }

//   .caramel{
//     
//   }
// .interface {
//     padding-left: 150px;
//     background-color: #f3f3f3b6;
//   }


.slidecontainer {
    width: 100%;
    margin-bottom: 50px;
  }
  
.slider {
    -webkit-appearance: none;
    width: 30%;
    height: 20px;
    border-radius: 5px;
    background: #8d6f6f;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
// .slider:hover {
//     opacity: 1;
// }
  
.slider::-moz-range-thumb {
width: 23px;
height: 24px;
border: 0;
background: #21522cb6;
cursor: pointer;
}
 
